.root {
  padding: 20px;
  :global {
    .operation-header {
      display: flex;
      justify-content: space-between;
      margin-bottom: 20px;
      .search {
        width: 300px;
      }
    }
  }
}
