.add-chapter-drawer {
  :global {
    .chapter-tree {
      .ant-tree-treenode {
        height: 40px;
        line-height: 40px;
        .ant-tree-switcher {
          height: 40px;
          line-height: 40px;
          &::before {
            transform: translateY(7px);
          }
        }
      }
      .role-box {
        display: flex;
        align-items: center;
        justify-content: space-between;
        .role-title {
          flex: 1;
          height: 40px;
          line-height: 40px;
          margin-right: 20px;
        }
        .btn-group {
          .ant-btn {
            padding: 0 10px;
          }
          .ant-switch {
            margin-top: -4px;
          }
        }
      }
    }
  }
}
