.root {
  :global {
    .filter-box {
      display: flex;
      justify-content: space-between;
      padding: 10px 20px 20px;
      border-bottom: 4px solid #f5f5f5;
      .filter-form {
        flex: 1;
        .ant-form-item {
          margin-inline: 10px;
          margin-top: 10px;
        }
      }
    }
    .school-list-box {
      flex: 1;
      padding: 20px;
      overflow-y: auto;
      .btn-group {
        text-align: right;
        margin-bottom: 20px;
      }
    }
  }
}
