.upload-resource-wrapper {
  :global {
    .upload-container {
      .ant-form {
        padding-right: 30px;
        .file-tooltip {
          color: #aaa;
          margin-top: 10px;
        }
      }
      .chapter-tree-box {
        width: 100%;
        background: #f5f5f5;
        padding: 20px;
        height: 400px;
        overflow-y: auto;
        .ant-tree {
          background-color: transparent;
        }
      }
    }
  }
}

.file-type-popover {
  :global {
    .file-type-list {
      font-size: 12px;
      color: #aaa;
      em {
        color: #3d3d3d;
      }
    }
  }
}
