.root {
  display: flex;
  height: 100%;
  background-color: transparent;
  :global {
    .question-list {
      display: flex;
      flex-direction: column;
      flex: 1;
      height: 100%;
      .category-container {
        width: 100%;
        padding: 20px 30px;
        background-color: white;
        .ant-form-item {
          margin-inline-end: 10px;
          .ant-form-item-label > label {
            color: #999;
          }
        }
      }

      .middle {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 17px 20px;
        background-color: white;
        margin: 10px 0;
      }

      .resource-list-container {
        flex: 1;
        padding: 10px 20px;
        background-color: white;
        overflow-y: auto;
        .resource-card {
          border-radius: 4px;
          border: 1px solid #dddddd;
          cursor: initial;
          .ant-card-body {
            padding: 0;
            .question-box {
              display: flex;
              padding: 20px;
              cursor: pointer;
              user-select: none;
              .selected {
                margin-right: 10px;
              }
            }
            .list-item-footer {
              display: flex;
              justify-content: space-between;
              align-items: center;
              height: 40px;
              padding: 0 10px;
              background-color: rgba(0, 0, 0, 0.05);
              .left {
                .detail {
                  color: #999;
                  b {
                    color: #666;
                  }
                }
                .line {
                  height: 28px;
                  border-inline-start-color: #d8d8d8;
                }
              }
              .question-info {
                margin-left: 9px;
              }
              .right {
                .ant-btn {
                  padding: 4px 10px;
                  border-radius: 0;
                  &:last-child {
                    border-bottom-right-radius: 4px;
                  }
                }
              }
            }
            .analytical-answer {
              padding: 10px;
              overflow-x: auto;
              .analytical {
                line-height: 30px;
                .answer {
                  color: #666;
                }
              }
            }
          }
        }
      }
    }
  }
}

.set-level {
  :global {
    .level-wrapper {
      margin: 40px 20px;
      text-align: center;
    }
  }
}
