.root {
  padding: 20px;
  :global {
    .header-operation {
      display: flex;
      justify-content: space-between;
      padding: 10px 0 20px;
      margin-bottom: 30px;
      border-bottom: 1px solid #eee;
    }
    .set-score-box {
      .step-box {
        margin-bottom: 30px;
      }
      .standard-box {
        padding: 0;
        .standard {
          padding: 15px 20px;
          line-height: 32px;
          text-align: left;
          overflow: hidden;
          text-overflow: ellipsis;
          white-space: nowrap;
          &:not(:last-child) {
            border-bottom: 1px solid #eee;
          }
          .standard-text {
            margin-right: 10px;
          }
        }
      }
      .score-box {
        padding: 0;
        .score {
          padding: 15px 20px;
          &:not(:last-child) {
            border-bottom: 1px solid #eee;
          }
        }
      }
    }
  }
}
