.root {
  display: flex;
  justify-content: space-between;
  background-color: transparent;
  // overflow: hidden;
  :global {
    .model-box {
      display: flex;
      flex-direction: column;
      width: 300px;
      background-color: #fff;
      .model-header {
        .model-text {
          position: relative;
          height: 58px;
          line-height: 58px;
          font-size: 20px;
          font-weight: 700;
          color: #3187ff;
          text-align: center;
          background-color: $bg-color-primary;
          .add-btn {
            position: absolute;
            right: 10px;
            top: 50%;
            transform: translateY(-50%);
          }
        }
        .search-box {
          padding: 10px;
        }
      }
      .ai-model-tree {
        flex: 1;
        padding: 5px 10px;
        overflow: hidden auto;
        .ant-tree-treenode {
          width: 100%;
          overflow: hidden;
          .ant-tree-node-content-wrapper {
            color: #666;
            line-height: 32px;
            flex: 1;
            overflow: hidden;
          }
          .node-name {
            display: flex;
            justify-content: space-between;
            overflow: hidden;
            .title {
              width: 75%;
              white-space: nowrap;
              text-overflow: ellipsis;
              overflow: hidden;
              margin: 0;
            }
          }
        }
        .ant-tree-switcher {
          line-height: 32px;
          &::before {
            height: 30px;
          }
        }
        .ant-tree-switcher-leaf-line:after {
          height: 16px;
        }
        .ant-tree-node-selected {
          color: $color-primary;
        }
        .anticon {
          padding: 3px;
          font-size: 12px;
          font-weight: 900;
          border-radius: 50%;
        }
        .anticon-plus {
          background-color: $color-primary;
          color: #fff;
        }
        .anticon-minus {
          background-color: $color-primary;
          color: #fff;
        }
      }
    }
    .right-box {
      flex: 1;
      margin-left: 10px;
      background-color: #fff;
      .ant-tabs-content-holder {
        padding: 20px;
      }
    }
  }
}
