.root {
  display: flex;
  flex-direction: column;
  width: 260px;
  margin-right: 10px;
  background-color: #fff;
  // ::-webkit-scrollbar-thumb {
  //   background-color: transparent;
  // }
  :global {
    .filter-header {
      .title {
        display: flex;
        align-items: center;
        justify-content: center;
        height: 45px;
        cursor: pointer;
        .decorate {
          width: 70px;
          height: 4px;
          border-radius: 4;
          &:first-child {
            background: linear-gradient(270deg, #4187ff 0%, #ffffff 99%);
          }
          &:last-child {
            background: linear-gradient(270deg, #ffffff 0%, #4187ff 99%);
          }
        }
        .course-name {
          width: 35%;
          font-size: 18px;
          font-weight: bold;
          text-align: center;
          color: $color-primary;
          margin: 0 15px;
          overflow: hidden;
          text-overflow: ellipsis;
          text-wrap: nowrap;
        }
      }
      .group-btn {
        display: flex;
        padding: 2px 0;
        width: 100%;
        height: 50px;
        background-color: #f5f5f5;
        li {
          position: relative;
          width: 172px;
          height: 100%;
          text-align: center;
          font-size: 16px;
          line-height: 46px;
          background-repeat: no-repeat;
          background-size: 100% 100%;
          cursor: pointer;
          &:nth-child(1) {
            img {
              left: 0;
            }
          }
          &:nth-child(2) {
            img {
              right: 0;
            }
          }
          span {
            position: absolute;
            left: 50px;
            color: #999;
            z-index: 10;
          }
          img {
            display: none;
            position: absolute;
            width: 157px;
            height: 100%;
            top: 0;
            z-index: 5;
          }
        }
        .active-tab {
          span {
            font-weight: bold;
            color: $color-primary;
          }
          img {
            display: inline-block;
          }
        }
      }
      .textbook {
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: 2px 6px 2px 10px;
        border-bottom: 3px solid #f5f5f5;
        .book-name {
          color: #666;
        }
      }
    }
    .chapter-list {
      flex: 1;
      padding-top: 10px;
      overflow-y: auto;
      .ant-tree {
        margin: 0 8px;
      }
    }
  }
}
.subject-popover {
  max-width: 550px;
  :global {
    .period-box {
      &:not(:last-child) {
        margin-bottom: 20px;
      }
      .school-title {
        font-size: 18px;
        font-weight: bold;
        margin-bottom: 10px;
        margin-left: 10px;
        color: #333;
      }
      .school-list {
        display: flex;
        flex-wrap: wrap;
        li {
          cursor: pointer;
          padding: 2px 15px;
          transition: all ease-in-out 0.1s;
          margin-bottom: 10px;
          border-radius: 14px;
          &:hover {
            color: #fff;
            background-color: $color-primary;
          }
          &:not(:last-child) {
            margin-right: 15px;
          }
        }
        .active {
          color: #fff;
          background-color: $color-primary;
        }
      }
    }
  }
}
.grade-popover {
  max-width: 600px;
  :global {
    .ant-popover-inner-content {
      .book-version-box {
        margin-bottom: 30px;
      }
      .book-version-box,
      .textbook-box {
        .text-name {
          font-size: 14px;
          font-weight: bold;
          color: #3d3d3d;
          margin: 10px 0;
        }
        ul {
          display: flex;
          flex-wrap: wrap;
          li {
            padding: 2px 15px;
            margin-bottom: 10px;
            color: #606266;
            cursor: pointer;
            border-radius: 14px;
            &:not(.active):hover {
              color: $color-primary;
            }
            &:not(:last-child) {
              margin-right: 15px;
            }
          }
          .active {
            color: #fff;
            background-color: $color-primary;
          }
        }
      }
    }
  }
}
