.root {
  :global {
    .step-form {
      .standard-list {
        margin-top: 20px;
        .standard-list-header {
          line-height: 54px;
          text-align: center;
          color: #3d3d3d;
          background-color: #f7f7f7;
        }
        .standard-item {
          text-align: center;
          border-bottom: 1px solid #eee;
          padding: 10px 0;
          margin-bottom: 0;
          .ant-select {
            text-align: left;
          }
          .num {
            line-height: 32px;
          }
        }
        .create-standard-btn {
          margin-top: 20px;
        }
      }
    }
  }
}
