.root {
  display: flex;
  flex-direction: column;
  :global {
    .filter-header {
      padding: 20px 30px;
      border-bottom: 4px solid #f5f5f5;
    }
    .textbook-container {
      flex: 1;
      padding: 20px;
      overflow-y: auto;
      .operation-header {
        text-align: right;
        margin-bottom: 20px;
      }
    }
  }
}
