.edit-question {
  :global {
    .general {
      .ant-form-item-label {
        visibility: hidden;
      }
    }
    .answer-wrapper {
      display: flex;
      &:first-child {
        margin-top: 5px;
      }
      .num {
        white-space: nowrap;
      }
    }
    .content,
    .analysis {
      .ant-form-item-row {
        display: block;
        .ant-form-item-label {
          text-align: left;
        }
      }
    }
  }
}
